# Python
__pycache__/
*.pyc
.venv/
venv/

# Entorno / secretos
.env
.env.*

# Mac
.DS_Store

# Logs
*.log

# VS Code (ignora cualquier .vscode en cualquier carpeta)
.vscode/

# Carpetas temporales / basura
alembic__unused/
